Dhairya Gandhi <dhairya@juliacomputing.com> <dhairya@juliacomputing.com>
Dhairya Gandhi <dhairya@juliacomputing.com> <dhairya@juliacopmuting.com>

Carlo Lucibello <carlo.lucibello@gmail.com> <carlo.lucibello@gmail.com>
Carlo Lucibello	<carlo.lucibello@gmail.com> <carlo.lucibello@unibocconi.it>

Mike Innes <mike.j.innes@gmail.com> <mike.j.innes@gmail.com>
